*{
    font-family: Arial;
}

h1{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    letter-spacing: +2px;
}

h2{
    font-family: 'Times New Roman', Times, serif;

}

#sisallysluettelo{
    font-weight: bold;
}

td{
    font-style: italic;
}

p{
    text-indent: 20px;
}